body {
    overflow-x: hidden;
}

.header {
    background-color:  white;
    color: #fff;
    text-align: center;
    height: 125px;
}

.imgfix {
    min-width: 10px;
    height: 125px;
  }

nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

#parallax {
    /* The image used */
    background-image: url("imgs/lawn.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }
  



.opening {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #232D4B;
}

footer {
    background-color: #232D4B;
    color: #fff;
    text-align: center;
    width: 100%;
}

.video {
    border: 5px solid #232D4B;
    border-radius: 5px;
    min-height: 300px;
  }

h2 {
    color: #232D4B;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.animals {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.animals:last-child {
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#parallax2 {
    /* The image used */
    background-image: url("imgs/classroompara.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  iframe {
    height: 500px;
  }

  #parallax3 {
    /* The image used */
    background-image: url("imgs/slbg.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slide 10s infinite;
  }
  
  .slider .slide:nth-child(1) {
    background-image: url('imgs/apply.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay: -0;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url('imgs/apply5.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay: -2s;
  }
    
  .slider .slide:nth-child(3) {
    background-image: url('imgs/apply3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay: -4s;
  }
    
  .slider .slide:nth-child(4) {
    background-image: url('imgs/apply4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay: -6s;
  }
  
  .slider .slide:nth-child(5) {
    background-image: url('imgs/apply2.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay: -8s;
  }
  
  @keyframes slide {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }

  .borderfix {
    border: 2px solid black;
    border-radius: 5px;
  }

  #parallax4 {
    /* The image used */
    background-image: url("imgs/eap.jpg");
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  #parallax5 {
    /* The image used */
    background-image: url("imgs/dbrickashawferguson.jpg");
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  #parallax6 {
    /* The image used */
    background-image: url("imgs/sarahdrew.webp");
  
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

  .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #232D4B;
  z-index: -1;
  border: 2px solid #E57200;
  border-radius: 2px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  z-index: -1;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #232D4B;
  z-index: -1;
  border: 2px solid #E57200;
  border-radius: 2px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: -1;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: white;
  z-index: -1;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  color: black;
  z-index: -1;
  font-size: 20px;
}

/* Add a blue color to the author */
.author {color: white; z-index: -1;}

.headersect {
  font-family: "Poetsen One", sans-serif;
  font-weight: 250;
  font-style: normal;
}

#parallax7 {
  /* The image used */
  background-image: url("imgs/sportsbg.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -10px;
  margin-right: -10px;
}

#parallax8 {
  /* The image used */
  background-image: url("imgs/apply2.webp");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -10px;
  margin-right: -10px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#parallax7:hover .image {
  opacity: 0.3;
}

#parallax7:hover .middle {
  opacity: 1;
}

#parallax:hover .image {
  opacity: 0.3;
}

#parallax:hover .middle {
  opacity: 1;
}

#parallax2:hover .image {
  opacity: 0.3;
}

#parallax2:hover .middle {
  opacity: 1;
}

#parallax3:hover .image {
  opacity: 0.3;
}

#parallax3:hover .middle {
  opacity: 1;
}

#parallax4:hover .image {
  opacity: 0.3;
}

#parallax4:hover .middle {
  opacity: 1;
}

#parallax5:hover .image {
  opacity: 0.3;
}

#parallax5:hover .middle {
  opacity: 1;
}

#parallax6:hover .image {
  opacity: 0.3;
}

#parallax6:hover .middle {
  opacity: 1;
}

#parallax8:hover .image {
  opacity: 0.3;
}

#parallax8:hover .middle {
  opacity: 1;
}

.text {
  background-color: #E57200;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}