body {
    overflow-x: hidden;
}

.header {
    background-color:  white;
    color: #fff;
    text-align: center;
    height: 125px;
}

.imgfix {
    min-width: 10px;
    height: 125px;
  }

nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#parallax {
    /* The image used */
    background-image: url("imgs/lawn.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }
  



.opening {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #232D4B;
}

footer {
    background-color: #232D4B;
    color: #fff;
    text-align: center;
    width: 100%;
}

.video {
    border: 5px solid #232D4B;
    border-radius: 5px;
    min-height: 300px;
  }

h2 {
    color: #232D4B;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.animals {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.animals:last-child {
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}